<%= simple_form_for :link, url: links_path, method: :post do |f| %>

  <%= f.label :title, "link title" %>
  <%= f.text_field :title %>

  <%= f.label :link_url, "link url" %>
  <%= f.text_field :link_url %>

  <%= f.submit "submit new link" %>

<% end %>


<h3>Search:</h3>
<input type="text" name:'search' id="searchLinkField"><br>

<br>

<button id="sortAlphebetically"> Sort Alphabetically </button>

<div id='links-list'>
</div>
