<!DOCTYPE html>
<html>
<head>
  <title>SpinBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>YOU ARE AT SPIN-BOARD</h1>

  <%= render partial: "partials/navbar" %>
  <%= render partial: "partials/flash_msg" %>

<%= yield %>

</body>
</html>
